<h3>Todo</h3>

<p><%= @todo.name%></p>

<% @todo.states.each do |s|%>
    <li><%=s.priority%></li>
<%end%>

<%=link_to "Edit",  edit_todo_path(@todo)%>

<%=button_to("Delete", @todo, method: :delete, data: { confirm: "Really?" }) %>
